<ion-header>

  <ion-navbar color="primary">
    <ion-title>Create an Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div align="center">
    <img src="http://placehold.it/300x100">
  </div>

  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
      <p>
        Please entry a valid email address
      </p>
    </ion-item>
    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Enter a password" [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
      <p>
        Your password needs to be more than six characters.
      </p>
    </ion-item>

    <button ion-button block type="submit">Create a new account</button>

  </form>
</ion-content>
